<ons-page id="Detail">
    <img src="img/Ex.jpg" width="188" height="275" style="text-align:center;">
    <p style="text-align: center;">
        Extraction is a 2020 American action-thriller film starring Chris Hemsworth and released on Netflix. It is
        directed by Sam Hargrave (in his feature directorial debut) and written by Joe Russo, based on the graphic novel
        Ciudad by Ande Parks, Joe Russo, Anthony Russo, Fernando León González, and Eric Skillman.[2] The film's cast
        also features Rudhraksh Jaiswal, Randeep Hooda, Golshifteh Farahani, Pankaj Tripathi and David Harbour, and
        follows a black ops mercenary who must rescue an Indian drug lord's kidnapped son in Dhaka, Bangladesh.
    </p>
</ons-page>