<ons-page id="Favorite">
    <p style="text-align:left;">
        <img src="img/Mulan.jpg" width="188" height="275"
            style="float:left; margin:20px 10px;"><br><b>Mulan</B><br>Mulan is a 2020 American action drama film
        produced by Walt Disney Pictures. It is a live-action adaptation of Disney's 1998 animated film of the same
        name, based on the Chinese folklore "The Ballad of Mulan".
        <br><b>Ratting</b><br><img src="img/Star.png" width="130" height="50">
        <img src="img/harry potter.jpg" width="188" height="275"
            style="float:left; margin:20px 10px;"><br><br><br><b>Harry Potter</B><br>Harry Potter is a series of seven
        fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry
        Potter, and his friends Hermione Granger and Ron Weasley
        <br><b>Ratting</b><br><img src="img/Star.png" width="130" height="50">
        <img src="img/Ex.jpg" width="188" height="275"
            style="float:left; margin:20px 10px;"><br><br><b>Extraction </B><br> Extraction is a 2020
        American action-thriller film starring Chris Hemsworth and released on Netflix. It is directed by Sam Hargrave
        (in his feature directorial debut) and written by Joe Russo
        <br><b>Ratting</b><br><img src="img/Star.png" width="130" height="50">
    </p>
</ons-page>